<h1>Welcome to PicArt Dashboard</h1>

<ul>
  <li><%= link_to "Provinces", provinces_path %></li>
  <li><%= link_to "Categories", categories_path %></li>
  <li><%= link_to "Users", users_path %></li>
  <li><%= link_to "Products", products_path %></li>
  <li><%= link_to "Orders", orders_path %></li>
  <li><%= link_to "Ordered Items", ordered_items_path %></li>
</ul>
