<div id="<%= dom_id ordered_item %>">
  <p>
    <strong>Quantity:</strong>
    <%= ordered_item.quantity %>
  </p>

  <p>
    <strong>Price in cents:</strong>
    <%= ordered_item.price_in_cents %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= ordered_item.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= ordered_item.product_id %>
  </p>

</div>
