<div id="<%= dom_id province %>">
  <p>
    <strong>Name:</strong>
    <%= province.name %>
  </p>

  <p>
    <strong>Gst rate:</strong>
    <%= province.gst_rate %>
  </p>

  <p>
    <strong>Pst rate:</strong>
    <%= province.pst_rate %>
  </p>

  <p>
    <strong>Hst rate:</strong>
    <%= province.hst_rate %>
  </p>

</div>
