<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price in cents:</strong>
    <%= product.price_in_cents %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= product.active %>
  </p>

  <p>
    <strong>Category:</strong>
      <%= product.category&.name %>
  </p>

  <% if product.main_image.attached? %>
    <p>
      <%= image_tag product.main_image, style: "width: 200px; display: block;" %>
    </p>
  <% end %>

</div>
